@model  IEnumerable<MembersRegistration.Models.UpdateRelations>

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/relationship.css" rel="stylesheet" />





@using (Html.BeginForm("Create", "Relationships", FormMethod.Post, new { id = "relationform" }))
{
    @Html.AntiForgeryToken()
    <br />
    @*<div class="nav-btn-area">
        <a href="@Url.Action("Create","ProfileCreations")" class="back-btn">
            <img src="~/Infrastructure/BackIcon.png" alt="Back" width="30" height="30" class="icon-img" />
        </a>
        <a href="@Url.Action("Create", "Relationships")" class="next-btn">
            <img src="~/Infrastructure/NextIcon.png" alt="Next" width="30" height="30" class="icon-img" />
        </a>
    </div>*@

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12 relation-label">
                Application Id :
                @Html.DisplayFor(model => Model.First().UserId, new { @Value = Model.First().ApplicationId })
                     , No. members added : @Model.ToList().Count() 
            </div>
        </div>
        @foreach (var profile in Model)
        {
            <div class="form-group">
                <div class="control-label col-md-4 asterisk"> Relationship with <b>@profile.ApplicationName</b></div>
                @Html.HiddenFor(model => profile.ApplicationId, new { @Value = profile.ApplicationId })
                @Html.HiddenFor(model => profile.UserId, new { @Value = profile.UserId })
                @Html.HiddenFor(model => profile.ApplicationName, new { @Value = profile.ApplicationName })
                <div class="col-md-8 relationslist-dropdown">
                @Html.DropDownListFor(model => profile.RelationId, (SelectList)ViewBag.Members, htmlAttributes: new { @class = "form-control" })</div>
                </div>
        }

        
    </div>

}
<div class="form-group">
    <div class="col-md-10  submit-label">
        <button id="RelationsUpdate" type="Submit" value="Save" class="btn btn-primary save-btn">Submit Application</button>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
