@model IEnumerable<MembersRegistration.Models.Relationship>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Account Name")
        </th>
        <th>
            @Html.DisplayName("Member Name")
        </th>
        <th>
            @Html.DisplayName("Relationship")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserRegistration.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProfileCreation.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Member.members)
    </td>


</tr>
}

</table>
