@model MembersRegistration.Models.ProfileCreation

@{
    ViewBag.Title = "Create";

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="nav-btn-area">

    <a href="@Url.Action("Applicant","UserRegistrations")" class="back-btn">
        <img src="~/Infrastructure/BackIcon.png" alt="Back" width="30" height="30" class="icon-img" />
    </a>

    <a  href="@Url.Action("Create", "Relationships")" class="next-btn">
        <img src="~/Infrastructure/NextIcon.png" alt="Next" width="30" height="30" class="icon-img"/>
    </a>

</div>


    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3  btn-area signup-label">
                Add Member
            </div>
        </div>



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">

                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2 asterisk" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger", })

                </div>
            </div>*@
        <div class="form-group">

            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 asterisk" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = true } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 asterisk" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = true } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Suffix, htmlAttributes: new { @class = "control-label col-md-2 asterisk " })
            <div class="col-md-10 suffix-dropdown">

                @Html.DropDownListFor(model => model.Suffix, new SelectList(new string[] { " ", "Mr.", "Mrs." },
                             new { htmlAttributes = new { @class = "form-control" } }))

            </div>
        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2 asterisk" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "date", @required = true } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2 asterisk" })
            <div class="col-md-10 gender-dropdown ">
                @Html.DropDownListFor(model => model.Gender, new SelectList(new string[] { " ", "Male", "Female" }, new { htmlAttributes = new { @class = "form-control " } }))

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*   <input type="submit" value="Save" class="btn btn-default" />*@
            <button type="Submit" value="Submit" class="btn btn-primary save-btn">Save</button>
            <button type="submit" class="btn btn-primary exit-btn">@Html.ActionLink("Exit", "Index")</button>
        </div>
    </div>


}








